.page_erreure{
    color: #ff6060;
    text-align: center;
    h1{
        font-size: 288px;
        margin: 126px 0 0 0;
    }
    h2{
        font-size: 36px;
        font-weight: 500;
        margin-bottom: 150px;
    }
    a{
        margin-top: 50px;
        color: #ff6060;
    }
}