.appartement_page {
      color: #ff6060;
      div:first-child {
            margin-bottom: 20px;
      }
      h1 {
            font-weight: 400;
            margin-block: 0;
      }
      h2 {
            font-weight: 400;
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 20px;
      }
      
      
      .appartement_desc-area {
            display: flex;
            gap: 100px;
            flex-basis: 50%;
            @media screen and (width <= 768px){
                flex-direction: column;
                gap: 0;
              }
             
      }
      .appartement_footer{
            height: 150px;
      }
}
