.Banner {
      margin: auto;
      color: white;
      position: relative;
      background-size: cover;
}
.banner_p {
      position: absolute;
      font-weight: 400;
      font-size: 37px;
      
}
.banner_img {
      display: flex;
      justify-content: center;
      align-items: center;
}
.banner_img img {
      filter: brightness(0.8);
      border-radius: 25px;
      width: 100%;
      object-fit: cover;
}
@media screen and (width <= 768px){
      .banner_img img{
            height: 224px;
      }
      
}