.banner_image {
      margin-bottom: 20px;
      position: relative;
      .btn_previous{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 50px;
            background-color: transparent;
            cursor: pointer;
            color: white;
            font-size: 50px ;
            border-width: 0 ;
            &:active,
            &:focus{
                  outline: none;
            }
      }
      .slide_cunter{
            position: absolute;
            color: white;
            width: 100%;
            bottom: 10px;
            text-align: center;
      }
      .btn_next{
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            width: 50px;
            background-color: transparent;
            cursor: pointer;
            color: white;
            font-size: 50px ;
            border-width: 0 ;
            &:active,
            &:focus{
                  outline: none;
            }
      }
      .image_container {
            position: relative;
            height: 415px;
            width: 100%;
            img {
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  inset: 0;
                  border-radius: 25px;
                  object-fit: cover;
                  opacity: 0;
                  transition: opacity 0.5s ease-in-out;
                  &.show {
                        opacity: 1;
                  }
                  // box-sadow: rgb(149 157 165/ 20%) 0px 8px 24px;
            }
      }
}
